<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Amanda & Hark</title>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link rel="stylesheet" href="/semantic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/icon.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/hover.css">

  </head>
  <body>
    <!-- <div class="class ui secondary menu responsive mobile-menu">
      <div class="header item">
        A & H 2018
      </div>
      <div class="right menu">
        <div class="item"><i class="bars icon"></i></div>
      </div>
    </div> -->

    <div id="home" class="hero">
      <div class="hero-text">
        <h1 class="hero-text-item">Hark & Amanda</h1>
        <h4 class="hero-text-item">July 13th, 2018  •  Caledon, ON</h4>
        <h6 class="countdown hero-text-item"></h6>
      </div>
    </div>

    <div id="details" class="menu-details">
      <div class="ui secondary menu responsive desktop-menu" id="nav">
        <div class="header item">
          A & H 2018
        </div>
        <div class="right menu">
          <a href="#home" class="item">
            Home
          </a>
          <a href="#details" class="item">
            Details
          </a>
          <a href="#ourstory" class="item">
            Our Story
          </a>
          <a href="#rsvp" class="item open-rsvp-modal">
            RSVP
          </a>
        </div>
        <!-- <div class="right menu mobile-menu">
          <div class="item"><i class="bars icon"></i></div>
        </div> -->
      </div>

      <div class="details">
        <img class="details-image" src="/images/1114702small.jpg" alt="">
        <div class="details-text">
            <h1 class="wedding-info wedding-title">The Wedding</h1>

            <h3 class="wedding-info">Friday, July 13, 2018</h3>
            <h3 class="wedding-info">7:40 AM</h3>
            <button class="ui grey button open-rsvp-modal details-rsvp-button hvr-push">RSVP</button>
            <h3 class="wedding-info">Royal Ambassador Banquet</h3>
            <h3 class="wedding-info">15430 Innis Lake Road, Caledon East, ON L7C 2Z1, Canada</h3>
        </div>
      </div>
    </div>


    <div id="ourstory" class="our-story">
      <div class="our-story-content">
        <div class="ui two column very relaxed grid our-story-desktop">
          <div class="column">
            <h1>His Story</h1>
            <p>
              It was the start of a new school year and I was on my way to the first class of the semester for an elective course. Wearing sweats I walked into class to see a girl sitting in the front row. I had to walk past her in order to get to the back, and as soon as I walked by I heard her laugh. I took a seat and immediately texted my friends in a group chat saying, and I quote, "I think I just saw my future wife." Throughout the semester I wondered why she was laughing that first day, was she laughing at me?
            </p>
            <p>
              Fast forward a few months. It was now the day of the exam. My group chat with my friends was going crazy with words of encouragement and a reminder that this was the very last chance I had to talk to her. I rushed through my exam and finished in an hour. I looked over and she was still writing her exam. I started to dot my i's and cross my t's. I looked over again and she was still writing. After the second hour I gave up on trying to look like I was writing a test. I began to wonder how it could possibly take 3 hours for this exam. I just sat there and finally the exam was over.
            </p>
            <p>
              I handed in my exam and walked to the back of the room to pick up my backpack. I had just waited 2 hours to talk to this girl and she was right beside me packing up her stuff. Finally I said, "how did it go?"
            </p>
          </div>
          <div class="column">
            <h1>Her Story</h1>
            <p>
              Third year of university, I decided to take a religion elective. My friend and I went to class early to ensure we would get a good seat at the front of the lecture hall. Talking about our summers we laughed at the fact that we hadn't found any eligible guys to date. Almost immediately after uttering those words a tall, good-looking guy walks right by our seats. We couldn't help but to burst out laughing.
            </p>
            <p>
              Throughout the semester we frequently made jokes about this handsome stranger even giving him a nickname. However I couldn't help but notice he was a little bit of a slacker. He would come halfway through class, and never failed to asked other students for paper and a pencil for the weekly quiz. Either way he was a frequent talking point in our weekly conversations.
            </p>
            <p>
              Finally it was exam day and I am the type of person that will use the entire time to plan out my answers and take my time writing. So of course I used the entire 3 hours. I did however notice that the handsome guy was just sitting there, not writing. I thought to myself, "what is he doing?"
            </p>
            <p>
              After handing in my exam I began to rush to pick up my stuff when I heard him say, "how did it go?"
            </p>
          </div>
        </div>


        <div class="ui one column very relaxed grid our-story-mobile">
          <div class="ui two item menu">
            <a class="active item his-story-button">His Story</a>
            <a class="item her-story-button">Her Story</a>
          </div>
          <div class="his-story-mobile">
            <p>
              It was the start of a new school year and I was on my way to the first class of the semester for an elective course. Wearing sweats I walked into class to see a girl sitting in the front row. I had to walk past her in order to get to the back, and as soon as I walked by I heard her laugh. I took a seat and immediately texted my friends in a group chat saying, and I quote, "I think I just saw my future wife." Throughout the semester I wondered why she was laughing that first day, was she laughing at me?
            </p>
            <p>
              Fast forward a few months. It was now the day of the exam. My group chat with my friends was going crazy with words of encouragement and a reminder that this was the very last chance I had to talk to her. I rushed through my exam and finished in an hour. I looked over and she was still writing her exam. I started to dot my i's and cross my t's. I looked over again and she was still writing. After the second hour I gave up on trying to look like I was writing a test. I began to wonder how it could possibly take 3 hours for this exam. I just sat there and finally the exam was over.
            </p>
            <p>
              I handed in my exam and walked to the back of the room to pick up my backpack. I had just waited 2 hours to talk to this girl and she was right beside me packing up her stuff. Finally I said, "how did it go?"
            </p>
          </div>
          <div class="her-story-mobile">
            <p>
              Third year of university, I decided to take a religion elective. My friend and I went to class early to ensure we would get a good seat at the front of the lecture hall. Talking about our summers we laughed at the fact that we hadn't found any eligible guys to date. Almost immediately after uttering those words a tall, good-looking guy walks right by our seats. We couldn't help but to burst out laughing.
            </p>
            <p>
              Throughout the semester we frequently made jokes about this handsome stranger even giving him a nickname. However I couldn't help but notice he was a little bit of a slacker. He would come halfway through class, and never failed to asked other students for paper and a pencil for the weekly quiz. Either way he was a frequent talking point in our weekly conversations.
            </p>
            <p>
              Finally it was exam day and I am the type of person that will use the entire time to plan out my answers and take my time writing. So of course I used the entire 3 hours. I did however notice that the handsome guy was just sitting there, not writing. I thought to myself, "what is he doing?"
            </p>
            <p>
              After handing in my exam I began to rush to pick up my stuff when I heard him say, "how did it go?"
            </p>
          </div>
        </div>
        <h1 class="story-history-text">And the rest is history...</h1>
      </div>
    </div>

    <div class="thank-you">
      <h1>Thank You!</h1>
    </div>
    <% include ./rsvp.ejs %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/scrollrevealjs.js"></script>
    <script type="text/javascript" src="/js/scrollreveal.js"></script>
    <script src="/js/index.js"></script>
    <script type="text/javascript" src="/js/countdown.js">

    </script>

  </body>
</html>
