<div class="modal">
  <form class="ui form rsvp-form" action="/rsvp" method="post">
    <h1>RSVP</h1>
    <h3>We hope you can join us!</h3>
    <div class="two fields">
      <div class="field">
        <label>Name</label>
        <input type="text" name="name" value="">
      </div>
      <div class="field">
        <label># of Guests</label>
        <input type="number" name="guests" value="">
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <label>Email (optional)</label>
        <input type="text" name="email" value="">
      </div>
      <div class="field">
        <label>Phone Number (optional)</label>
        <input type="text" name="phoneNumber" value="">
      </div>
    </div>

    <div class="field">
      <label>Comment (optional)</label>
      <textarea rows="2" type="text" name="comment" value=""></textarea>
    </div>

    <div class="field">
      <button class="ui grey button rsvp-button" type="submit" name="button">Submit</button>
    </div>
  </form>
  </div>
