html {
  height: 100%;
  width: 100%;
  font-family: 'Dancing Script', cursive;
  /*font-family: 'Tangerine', cursive;*/
}
body{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url("/images/enagement-small.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* MENU */
.fixed {
  position: fixed;
  top: 0;
  /*height: 70px;*/
  z-index: 1;
}

.ui.secondary.menu.responsive{
  background-color: rgba(255,255,255,1);
  margin-bottom: 0;
  font-size: 1.8em;
  z-index: 5;
  /*font-family: 'Tangerine', cursive;*/
}



.hero {
  text-align: center;
  height: 100%;
}
.hero-text{
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  font-size: 2em;
  color: #fff;
}
.details {
  text-shadow: 1px 2px #474747;
  color: #fff;
  text-align: center;
  position: relative;
  height: 100%;
  /*font-family: 'Great Vibes', cursive;*/
  /*font-family: 'Tangerine', cursive;*/
}
.menu-details{
  height:100%;
  min-height: 600px;
}
.details-image{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height: 100%;
  width: 100%;
}
.details-text{
  padding: 75px 0;
  font-size: 1.6em;
}
.wedding-info{
  margin: 2.5%;
  font-size: 1.2em;
}
.wedding-title{
  font-size: 2.4em;
  margin-bottom:5%;
}
.modal{
  position: fixed;; /* Stay in place */
  z-index: 15; /* Sit on top */
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  display: none;
}
.rsvp-form{
  background-color: white;
  padding: 5%;
  width: 65%;
  margin: auto;
  top: 5%;
  margin-bottom: 5%;
}
.rsvp-button{
  width: 100%;
}
.open-rsvp-modal{
  color: white;
}

button.ui.grey.button.open-rsvp-modal.details-rsvp-button.hvr-push {
  border: 2px solid #fff;
  background-color: transparent;
  font-family: 'Tangerine', cursive;
  /*font-family: 'Dancing Script', cursive;*/
}

button.ui.grey.button.open-rsvp-modal.details-rsvp-button.hvr-push:hover {
  background-color: #bbb;
}
.our-story{
  background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.65));
}
.our-story-content{
  color: #fff;
  padding: 10%;
  /*font-family: 'Lobster', cursive;*/
  font-family: 'Great Vibes', cursive;

}
.our-story-content h1{
  text-align: center;
}

.thank-you{
  background-color: #474747;
  color: #fff;
  background:
    linear-gradient(
      rgba(71, 71, 71, 0.90),
      rgba(71, 71, 71, 0.90)
    );
  text-align: center;
}
.thank-you h1{
  padding: 20px 0;
}

@media (max-width: 930px){
  .details-text{
    padding: 100px 0;
  }
}

@media only screen and (max-width: 768px){
  h1.hero-text {
    font-size: 2em;
  }

  h4.hero-text {
      font-size: 0.9em;
  }

  h6.countdown {
      font-size: 0.9em;
      margin: 5%;
  }
  .rsvp-form{
    width:65%;
  }

}

@media (max-width: 596px){
  .details-text{
    padding: 105px 0;
  }
  .rsvp-form{
    width:70%;
  }
  .ui.secondary.menu.responsive{
    font-size: 1.4em;
  }
}
@media (min-width:530px){
  /*.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu.mobile-menu{
    display:none;
  }*/
}

@media (max-width: 529px){
  .details-text{
    padding: 110px 0;
  }
  .rsvp-form{
    width:80%;
  }
  /*.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu.desktop-menu{
    display:none;
  }*/
}

@media (max-width: 463px){
  .details-text{
    padding: 115px 0;
  }
}

@media (min-width: 769px){
  h1.hero-text {
    font-size: 2.2em;
  }

  h4.hero-text {
      font-size: 1.2em;
  }

  h6.countdown {
      font-size: 1.2em;
      margin: 5%;
  }
}

@media (min-width:1200px){
  .details-text{
    font-size: 1.8em;
  }
  .menu-details{
    min-height: 650px;
  }
  h6.countdown {
    margin: 3%;
  }
}
